@import "@/shared/styles/shared/variables.scss";

.footer {
    width: 100%;
    background: $gray-color-100;

    &__inner {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 10px 0;
    }

    &__copywriting {
        font-size: 12px;
        font-weight: 400;
        color: $dark-color;
        line-height: 14px;
    }
}
