@import "@/shared/styles/shared/variables.scss";

.catalog {
    display: flex;
    flex-direction: column;
    gap: 10px;

    &__item {
        display: flex;
        align-items: center;
        gap: 10px;
    }

    &__item_text {
        width: 100%;
        font-size: 14px;
        font-weight: 400;
        color: $dark-color;
        line-height: 16px;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
    }
}
