@import "@/shared/styles/shared/variables.scss";

.favorites {
    padding: 50px 0;

    &__title {
        width: fit-content;
        font-size: 24px;
        font-weight: 500;
        color: $dark-color;
        line-height: 32px;
        margin-bottom: 20px;
    }

    &__items {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 20px;
    }
}
