@import "@/shared/styles/shared/variables.scss";

.home {
    padding: 50px 0;

    &__inner {
        width: 100%;
        padding: 150px 50px;
        position: relative;
    }

    &__title {
        font-size: 42px;
        font-weight: 700;
        color: $white-color;
        line-height: 64px;
        margin-bottom: 20px;
    }

    &__text {
        max-width: 600px;
        width: 100%;
        font-size: 21px;
        font-weight: 500;
        color: $white-color;
        line-height: 28px;
        margin-bottom: 35px;
    }

    &__btn {
        padding: 0 32px;

        &:hover {
            opacity: 1;
        }
    }

    &__darken {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba($dark-color, 0.3);
        z-index: -1;
    }

    &__bg {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -2;

        img {
            object-fit: cover;
        }
    }
}
