@import "@/shared/styles/shared/variables.scss";

.profile {
    border: 1px solid $border-color;
    border-radius: 4px;
    padding: 32px 24px;

    &__title {
        font-size: 21px;
        font-weight: 500;
        color: $dark-color;
        line-height: 24px;
        margin-bottom: 20px;
    }

    &__form {
        display: flex;
        flex-direction: column;
        gap: 16px;
    }

    &__btn {
        max-width: 180px;
    }
}
