$primary-font: "Raleway", sans-serif;

$dark-color: #000;
$white-color: #fff;

$border-color: rgba($dark-color, 0.1);

$gray-color-100: #f8f9fa;
$gray-color-200: #e9ecef;
$gray-color-900: #495057;
$gray-color-950: #343a40;

$green-color-400: #06d6a0;

$red-color-500: #ef476f;

$orange-color-500: #ffd166;
