@import "@/shared/styles/shared/variables.scss";

.dots {
    position: relative;

    &__icon {
        max-width: 16px;
        width: 16px;
        max-height: 24px;
        height: 24px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: $dark-color;
        cursor: pointer;
        user-select: none;
    }

    &__options {
        position: absolute;
        top: 120%;
        right: 0;
        width: 200px;
        border: 1px solid rgba($dark-color, 0.08);
        border-radius: 2px;
        background: $white-color;
        box-shadow: 0px 0px 40px 0px rgba($dark-color, 0.08);
        padding: 8px;
        z-index: 50;
    }

    &__btn {
        height: 36px;
        width: 100%;
        display: flex;
        align-items: center;
        font-size: 14px;
        font-weight: 500;
        color: $dark-color;
        line-height: 20px;
        outline: none;
        border: none;
        border-radius: 8px;
        background: transparent;
        padding: 0 10px;
    }

    &__btn_red {
        color: $red-color-500;
    }
}
